# PCA Reduction

In this notebook, we test Dask's PCA

In [21]:
import dask.dataframe as dd
from dask_ml.decomposition import PCA

In [22]:
df = dd.read_csv('../data/processed/organoid_reduction_neighbors_5000_components_50.csv')

In [23]:
est = PCA(n_components=3)
pca = est.fit_transform(df.values.compute_chunk_sizes())

In [24]:
import pandas as pd 
df = pd.DataFrame(pca.compute())

In [27]:
df = dd.from_array(pca.compute())

In [31]:
df.to_csv('asdf.csv', single_file=True, index=False)

['/Users/julian/Documents/Projects/organoid-classification/notebooks/asdf.csv']

In [34]:
import pandas as pd 
df = pd.read_csv('asdf.csv')
df

               0         1         2
0      -0.200472  1.460368  0.795623
1      -1.648086  1.578398  1.271326
2      -1.709614  1.479038  1.305297
3      -2.133705  1.312050  1.383508
4      -1.709739  1.441671  1.194556
...          ...       ...       ...
235116 -2.684774  0.883385  1.525278
235117 -2.689195  0.879093  1.520911
235118 -2.686528  0.855352  1.516532
235119 -2.667541  0.851988  1.516948
235120 -2.675737  0.895247  1.496369

[235121 rows x 3 columns]